body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    /* padding: 10px; */
    padding: 0px;
    margin: 0px;
    border: 0px solid black;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-items: center; */
    /* padding: 20px; */
    padding: 0px;
    margin: 0px;
    border: 0px solid black;
    /* background-color: lightgoldenrodyellow; */
}

.footer {
    width: 100%;
    /* padding: 10px; */
    padding: 0px;
    margin: 0px;
    background-color: #eee;
    text-align: center;
    border: 0px solid black;
}

.left-panel {
    border: 0px solid black;
    /* width: 20%; */
    width: 100%;
    /* height: 0px; */
    min-height: 205px;
}

.left-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-panel li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

.left-panel li:hover {
    background-color: #0099cc;    
}

.content-area {
    display: flex;
    flex-direction: column;
    /* background-color: DodgerBlue; */
    /* flex: 1; */
    /* width: 60%; */
    width: 100%;
    /* align-items: center; */
    min-height: 500px;
}

.clear-container {
    width: 50px;
    display: flex;
    align-items: flex-end;
}

#clearchat-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    /* padding-top: 6px;
    padding-left: 4px; */
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, rgb(15, 108, 189) 33.63%, rgb(45, 135, 195) 70.31%, rgb(141, 221, 216) 100%);
    color: white;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

#clearchat-button:hover {
    color: black;
}

.send-container {
    width: 50px;
    display: flex;
    align-items: flex-end;
}

#send-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding-top: 6px;
    padding-left: 4px;
    background: none;
    border: none;
    margin-left: 4px;
    border-radius: 4px;
}

#send-button:hover {
    background-color: lightblue;
}

.right-panel {
    border: 0px solid black;
    /* width: 20%; */
    width: 100%;
    /* height: 0px; */
    min-height: 270px;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.chat-title{
    border: 0px solid black;
    border-bottom: 1px solid black;
    background-color: azure;
    color: darkblue;
    padding: 10px;
    margin: 3px;
}

.chat-thread {
    flex-grow: 1;
    border: 0px solid black;
    overflow-y: auto;
    /* height: 1px; */
    height: fit-content;
}

.chat-flow {
    overflow: visible; 
    display: grid;
    
}

.chat-flow > div {
    /* display: flex;
    justify-content: flex-end; */
    box-sizing: border-box;
    margin-bottom: 12px;
    margin-left: 5px;
    max-width: 80%;
    padding: 10px;
    /* justify-self: flex-end; */
    box-shadow: 0 2px 4px #00000024, 0 0 2px #0000001f;
    border-radius: 8px;
}

.user-message {
    justify-self: flex-end;
    background: #EDF5FD;
    margin-right: 5px;
}

.chatprompt-area {
    display: flex;
    flex-direction: row;
    border: 0px solid black;
    height: 90px;
}

.chatprompt-area  > div {
    /* display: flex;
    flex-direction: row; */
    border: 0px solid black;
}

.prompt-container {
    flex: 1; 
    /* border: 2px solid black; */
    /* background-color: #0099cc; */
    width: 1px;
    height: 100%;
}

#prompt-textarea {
    overflow-y: auto;
    height: calc(100% - 12px);
    width: calc(100% - 18px);
    /* height: 100%; */
    /* height: 60px; */
    /* height: fit-content; */
    /* min-height: 40px;
    max-height: 90px; */
    border-radius: 1rem;
    padding: 5px 0px 5px 16px;
    /* padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 0px; */
    resize: none;
    /* align-items: start; */
    /* justify-items: center; */
    /* justify-content: center;
    margin: 0px;
    display: block; */
}

/* .content-area > div {
    border: 2px solid black;
    width: 100%;
} */

/* .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} */

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .left-panel {width: 20%;}
    .content-area {width: 80%;}
    .right-panel {width: 100%;}
    .chat-thread {
        height: 1px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .left-panel {width: 20%;}
    .content-area {width: 60%;}
    .right-panel {width: 20%;}
    .chat-thread {
        height: 1px;
    }
}